@import "../../scss/_variables";
@import "../../scss/_mixins";

.nextDays {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 82px;
  height: 164px;
  background-color: #171717;
  box-shadow: inset 0px 0px 78px rgba(77, 74, 183, 0.3);
  border-radius: 37px;
  z-index: 1;

  &Inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 15px;
    width: 90%;
    height: 80%;
  }
}
.nextDaysDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 60px;
  height: 46px;
  flex-grow: 0;
}
.nextDaysWeatherInfo {
  @include textFont(Dangrek);
  @extend .nextDaysDetails;
  row-gap: 0;
  align-items: center;
  color: $primary-textColor;

  .nextDaysTemperature {
    position: relative;
    font-size: 32px;

    &::after {
      font-size: 24px;
      content: "°";
      position: absolute;
    }
  }
}

.nextDaysDate {
  display: flex;
  justify-content: center;
  align-items: center;
  @include textFont(Barlow_R);
  font-size: 12px;
  color: $primary-textColor;
}
