@import "@scss/_variables";
@import "@scss/_mixins";

.forecast {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;

  &NextDays {
    position: relative;
    width: 100%;

    .nextDaysWrapper {
      width: 310px;
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
  }
  .detailedInformation {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.infoBlockContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
