@import "../../scss/_variables";
@import "../../scss/_mixins";

$X: 30%;
$Y: 30%;
$width: 239px;
$height: 131px;
$blur: 200px;

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;

  &NextDays {
    position: relative;
    width: 100%;

    .nextDaysGlimmer {
      @include glimmer($X, $Y, $width, $height, $blur);
      top: 0;
      left: 0;
    }
  }

  .detailedInformation {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
