@import "@scss/__variables";
@import "@scss/__mixins";
.currentWrapper {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 387px;
}
.forecastCurrent {
  position: relative;
  height: 100%;

  .currentStroke {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    background: $stroke-color;
    border-radius: 55px;
  }

  &Inner {
    height: 100%;
    position: relative;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 55px;
    background-color: $current-forecast-background-color;
    box-shadow: 0 3px 80px #000000;
  }
}

.currentDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.currentWeatherIconWrapper {
  width: 175px;
}

.currentWeatherInfo {
  @include textFont(Dangrek);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-textColor;

  .currentTemperature {
    position: relative;
    font-size: 64px;

    &::after {
      font-size: 48px;
      content: "°";
      position: absolute;
    }
  }
  .currentWeather {
    font-size: 18px;
  }
}

.currentLocationDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .currentDate {
    @include textFont(DaysOne);
    font-size: 18px;
    color: $primary-textColor;
  }
  .currentLocation {
    @include textFont(Barlow_M);
    font-size: 16px;
    color: $secondary-textColor;
    letter-spacing: 0.15em;
  }
}
