@import "../../../scss/_mixins";
.cloudy {
  aspect-ratio: 1/0.7;
  width: 100%;
  position: relative;
}

.cloudy__circles {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  filter: drop-shadow(0 0 2px #1d4183);
  > * {
    @include cloudyCircle;
  }

  .cloudy__circleTopLeft {
    top: 0;
    left: 0;
  }
  .cloudy__circleBottomLeft {
    bottom: 0;
    left: 0;
  }
  .cloudy__circleBottomCenter {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .cloudy__circleBottomRight {
    bottom: 0;
    right: 0;
  }
  .cloudy__circleCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
