@font-face {
  font-family: Barlow_R;
  src: url("/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: Barlow_M;
  src: url("/fonts/Barlow-Medium.ttf");
}
@font-face {
  font-family: Dangrek;
  src: url("/fonts/Dangrek-Regular.ttf");
}
@font-face {
  font-family: DaysOne;
  src: url("/fonts/DaysOne-Regular.ttf");
}
