@mixin cloudyCircle() {
  position: absolute;
  width: 45%;
  height: 65%;
  border-radius: 50%;
  background-color: #011232;
}

@mixin textFont($font) {
  font-family: $font, Arial, sans-serif;
}

@mixin hoverInformation() {
  position: absolute;
  display: none;
  opacity: 0;
  font-size: 20px;
}

@mixin panel($width, $height) {
  width: $width;
  height: $height;
  background-color: rgba($color: #090909, $alpha: 0.105);
  box-shadow: inset 26px 0px 48px 468px rgba(165, 165, 165, 0.105),
    inset 0px 0px 26px rgba(255, 255, 255, 0.105);
  backdrop-filter: blur(53px);
  border-radius: 46px;
}
