$current-forecast-background-color: #00021c;
$stroke-color: linear-gradient(to bottom right, #b7b7b7 0%, #010215 50%);
$primary-textColor: rgba(
  $color: #fff,
  $alpha: 0.75,
);
$secondary-textColor: #fff;
