// Common styles
// ============================================================================================================================================
.detailedPage {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.detailedPageHeader {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.detailedPageFooter {
  position: relative;
  height: 200px;
  width: 100%;
}

// ============================================================================================================================================
